body {
    color: #333;
    background: $background-primary;
    font-family: $font-main;
    font-size: 14px;
    text-align: left;
    line-height: 1.4;
    overflow-x: hidden;
}

.row {
  display: flex;
  flex-wrap: wrap;
}


.avatar-thumbnail {
  height: 50px;
  width: 50px;
  margin-left: 5px;
  border-radius: 50%;
  @include respond-to(('screen-under-medium')) {
    width: 40px;
    height: 40px;
    position: absolute;
    z-index: 10;
    margin: 15px;
  }
}

.text-center {
  text-align: center;
}
