/* Reset css*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
    height: auto;
    object-position: center;
    object-fit: cover;
}

ul,li{
    list-style-type: none;
}

a {
  color: $primary;
  text-decoration: none;

  &:hover {
    color: $primary-darken;
  }
}

textarea {
  resize: none;
  width: 100%;
  border: 1px solid $gray-dark;
  outline: none;
  padding: 5px;
  font-size: 16px;
  color: $black;
}

button {
  outline: none;
}
