@mixin respond-to($breakpoints-input) {
  $media-query: '';
  @each $breakpoint in $breakpoints-input {
    $raw-query: map-get($breakpoints, $breakpoint);

    @if $raw-query {
      $query: if(
                      type-of($raw-query) == 'string',
                      unquote($raw-query),
                      inspect($raw-query)
      );

      @if $media-query == '' {
        $media-query: $query
      } @else {
        $media-query: $media-query + ' and ' + $query;
      }
    } @else {
      @error 'No value found for `#{$breakpoint}`. '
         + 'Please make sure it is defined in `$breakpoints` map.';
    }
  }

  @media #{$media-query} {
    @content;
  }
}

@mixin make-btn($color) {
    color: $white !important;
    background: $color;
    border-color: $color;

    &:hover, &:focus {
        background: darken($color, 20%)
    }
}

@mixin make-btn-outline($color) {
    color: $color;
    background: transparent;
    border-color: $color;

    &:hover, &:focus {
        //nếu mầu truyền vào là màu trắng thì bị lỗi
        color: $white;
        background: $color;
    }
}

