// Color
$black:     #594F4F !default;
$gray-dark: #828282 !default;
$gray:      #BDBDBD !default;
$white:     #FFFFFF !default;

$blue:      #0d6efd !default;
$indigo:    #6610f2 !default;
$purple:    #6f42c1 !default;
$pink:      #d63384 !default;
$red:       #dc3545 !default;
$orange:    #fd7e14 !default;
$yellow:    #ffc107 !default;
$green:     #28a745 !default;
$teal:      #20c997 !default;
$cyan:      #27bece !default;

$primary:       $cyan !default;
$secondary:     $gray !default;
$success:       $green !default;
$info:          $teal !default;
$warning:       $yellow !default;
$danger:        $red !default;

$background-primary: $white;

$primary-lighten:    lighten($primary, 15%);
$primary-darken:     darken($primary, 20%);

$font-main: "Noto Sans", sans-serif;


