.btn {
    position: relative;
    display: inline-block;
    min-width: 160px;
    padding: 7px 8px;
    border: 1.5px solid transparent;
    border-radius: 2px;
    line-height: 1;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.2s;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.btn-primary {
    @include make-btn($primary);
}

.btn-outline-primary {
    @include make-btn-outline($primary);
}
