.px-15 {
  padding-left: 15px;
  padding-right: 15px;
}

.px-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.mx-15 {
  margin-left: 15px;
  margin-right: 15px;
}

.px-lg-0 {
  @include respond-to(('screen-upper-large')) {
    padding-left: 0;
    padding-right: 0;
  }
}

.mx-lg-0 {
  @include respond-to(('screen-upper-large')) {
    margin-left: 0;
    margin-right: 0;
  }
}
